ul li {
color: red;
}
ol li {
  color: green;
}

div p {
  color: grey;
 }
span span p {
  color: blue;
  }
span + p {
  color: green;
}
span p {
  color: black;
}
p + h1 {
  color: yellow;
}
