body {
  width: 1366px;
  overflow: hidden;
}
header {
  width: 100vw;
  height: 15vh;
  background: rgb(243,156,019);
}
.nav {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  background: rgba(243,156,019, 0.8);
  width: 280px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
section {
  background: #344;
  padding-left: 280px;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
  width: 1086px;
}
